body{
    background-color: black;
    color:white;
}

footer{
    text-align:center;
}

main{
    width:1200px;
    margin:0 auto;
}
            

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;/*removes underline*/
    color:white; /*by default, links are blue*/
    font-family: 'Fjalla One', sans-serif;
}

nav a:hover, #current{
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}



h1{
    font-family: 'Staatliches', cursive;
    color: white;
    font-size:4em;
    margin-bottom:0px;
}

footer{
    color:gray;
    clear:left;
}


#image, #text{
    float:left;
}

#image{
    background: url(../img/code.png);
    background-size: 160%;

}

#mainImage{
    height: 500px;
    width: 1000px;
    vertical-align: bottom;
}

main {
      
      display:flex;
      justify-content:center;
}

#mainImage, #welcometext{
    float:left;
}
    
#welcometext{
    vertical-align:middle;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-size:1.8em;
}

#text{
    vertical-align:middle;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-size:1.8em;
}

#notCurrent{
    color:gray;
}

#headerHR{
    height:70px;
    width:580px;
    border-bottom-style: solid;
    border-bottom-color: white;
}

#content{
    vertical-align:middle;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-size:1.2em;
}

td{
    padding-right: 15px;
    padding-left: 10px;
}

.table-row{
    background-color: #0e2c5b;
}

#table-header{
    background-color:#565656;
}