body{
    background-color: black;
    color:white;
}

footer{
    text-align:center;
}

main{
    width:1400px;
    margin:0 auto;
}
            

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size:1.8em;
    text-decoration: none;/*removes underline*/
    color:white; /*by default, links are blue*/
    font-family: 'Fjalla One', sans-serif;
}

nav a:hover, #current{
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;
}



h1{
    font-family: 'Staatliches', cursive;
    font-size:4em;
    margin-bottom:0px;
    color:white;
}

footer{
    color:gray;
    clear:left;
}


#image, #welcometext{
    float:left;
}

main {
      
      display:flex;
      justify-content:center;
      

      
    }
    
#welcometext{
    vertical-align:middle;
    text-align: left;
    font-family: 'Catamaran', sans-serif;
    font-size:1.8em;
}
